version: "3.9"

services:
  app:
    build: .
    container_name: laravel_app
    volumes:
      - .:/var/www
    environment:
#      APP_ENV: production
      APP_ENV: local
#      APP_DEBUG: false
      APP_DEBUG: true
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: app
      DB_USERNAME: root
      DB_PASSWORD: password
      REDIS_HOST: redis
    ports:
      - "9000:9000"
    depends_on:
      - db
      - redis

  db:
    image: postgres:18-alpine
    container_name: laravel_postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: root
      POSTGRES_DB: app
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:8-alpine
    container_name: laravel_redis
    restart: unless-stopped
    ports:
      - "6379:6379"

  scheduler:
    build: .
    container_name: laravel_scheduler
    command: php artisan schedule:work
    volumes:
      - .:/var/www
    environment:
#      APP_ENV: production
      APP_ENV: local
#      APP_DEBUG: false
      APP_DEBUG: true
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: app
      DB_USERNAME: root
      DB_PASSWORD: password
      REDIS_HOST: redis
    depends_on:
      - app
    restart: unless-stopped

  nginx:
    image: nginx:1.25
    container_name: laravel-nginx
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

volumes:
  pgdata:
